<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{/css/registerPage.css}" />
</head>
<body>

<div class="container">
    <h2>Registration Form</h2>
    <form action="/submit_registration" method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <div class="password-input">
                <input type="password" id="password" name="password" required>
                <label class="toggle-password">
                    <input type="checkbox" onclick="togglePasswordVisibility()">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Register">
        </div>
    </form>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        passwordInput.type = passwordInput.type === "password" ? "text" : "password";
    }
</script>

</body>
</html>